{% extends 'home/base.html' %}
{% block title %}Home{% endblock title %}
{% block head %}
{% load static %}
{% endblock head %}
{% block description %}Horizaura is a company that specializes in 3d printing and 3d printed product selling. Whether you need a custom prototype, a personalized gift, or a unique design, Horizaura can help you turn your ideas into reality. Horizaura offers high-quality 3d printing services with a variety of materials, colors, and finishes. You can also browse their online store and choose from a range of 3d printed products, such as jewelry, home decor, accessories, and more. Horizaura is your one-stop shop for all your 3d printing needs.{% endblock description %}
{% block keyword %}Horizaura, 3d printing, 3d printed products, custom design, online store, innovative solutions{% endblock keyword %}
{% block content %}
<!-- add casourel -->
<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
  <h1> Horizaura 3d Printing </h1>
  <h2>Transforming ideas into reality.</h2>
  {% endblock content %}
