/* hovering on the text, the colour changes to putple */
body {
    background-color: black;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* add the class nav */
.nav-hover:hover {
    color: purple;
}